#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  #p_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  @media all and (min-width: 312px) and (max-width: 540px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  